<header class="header">
  <img class="header-logo" src="" alt="#" />
  <h1 class="header-title">Coco Gifts</h1>
  <nav class="header-nav">
    <input
      type="checkbox"
      id="menu-toggle"
      class="menu-toggle"
      aria-hidden="true"
    />
    <label class="hamburger" for="menu-toggle" aria-label="Open menu toggle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="35"
        height="35"
        fill="currentColor"
        class="icon-hambuerger"
        viewBox="0 0 16 16">
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        ></path>
      </svg>
    </label>
    <ul class="header-nav-list">
      <li class="header-nav-link"><a href="/">Home</a></li>
      <li class="header-nav-link"><a href="/about">About</a></li>
      <li class="header-nav-link"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
