---
interface Props {
  title: String;
}

const { title } = Astro.props;

import BaseHead from "@/components/Head/BaseHead.astro";

---

<!doctype html>
<html lang="es">
  <BaseHead title={title} />
  <body class="body">
    <slot />
  </body>
</html>
